.store-title {
    text-align: center;
    margin: 24px 0;
    font-size: 36px;
    font-weight: bolder;
    color: var(--ion-color-primary);
    font-family: 'Georgia', serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
  }
  