<app-my-header name="Лабораторна робота №2"></app-my-header>
<ion-content [fullscreen]="true" color="primary">
  <ion-card *ngFor="let group of this.groups; index as i">
    <ion-card-header>
      <ion-card-title>{{group}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let student of filterStudentsByGroup(group); index as j">
          <ion-card-header>
            <ion-card-title>{{student.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Середня оцінка: {{student.average_grade}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Стипендія: {{student.scholarship}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-item>
    <canvas #lineCanvas></canvas>
  </ion-item>
</ion-content>