  <app-my-header name="Лабораторна робота №1"></app-my-header>
<ion-content [fullscreen]="true" color="primary">
  <ion-card-content>
    <p>Завдання №2</p>
    <p>На заданому проміжку чисел [a, b] підрахуйте кількість чисел, які
      кратні 11, якщо їх перші цифри парні. Потрібно вивести як самі числа так і
      результати обрахунку.</p>
      <div>
        <ion-item>
          <ion-input
            label="Перше число"
            labelPlacement="stacked"
            type="number"
            id="a"
            value="1"
            #Inputa
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Друге число"
            labelPlacement="stacked"
            type="number"
            id="b"
            value="2"
            #Inputb
          ></ion-input>
        </ion-item>
      </div>
      <ion-button
      color="secondary" 
      expand="block"
      (click)="calculate(Inputa.value, Inputb.value)"
      >Розрахунок</ion-button>
      <ion-item>
        <ul [innerHTML]="result"></ul>
      </ion-item>
  </ion-card-content>
</ion-content> 