<ion-card>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <ion-card-header>
      <ion-card-title>Додати товар</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>Тип товару</ion-label>
      <ion-segment formControlName="type" (ionChange)="onTypeChange(productForm.value.type)">
        <ion-segment-button *ngFor="let type of productTypes" [value]="type">
          <ion-label>{{ type }}</ion-label>
        </ion-segment-button>
      </ion-segment>      
    </ion-item>

    <ion-item>
      <ion-label position="floating">Назва</ion-label>
      <ion-input type="text" formControlName="name" 
      errorText="Назва повинна починатися з великої літери та не містити спецсимволів" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ціна</ion-label>
      <ion-input type="number" formControlName="price" 
      errorText="Ціна повинна бути більшою за 0"></ion-input>
    </ion-item>

    <div *ngIf="currentType === 'Vinyl' || currentType === 'CD' || currentType === 'DigitalMusic'">
      <ion-item>
        <ion-label position="floating">Виконавець</ion-label>
        <ion-input formControlName="artist" errorText="Поле обов'язкове"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="productForm.contains('year')">
      <ion-item>
        <ion-label position="floating">Рік</ion-label>
        <ion-input type="number" formControlName="year" 
        errorText = "Рік повинен бути більшим за 1800 та не більше поточного"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="productForm.contains('rpm')">
      <ion-item>
        <ion-label position="floating">Обертів за хв</ion-label>
        <ion-input type="number" formControlName="rpm" 
        errorText="Значення повинно бути більшим за 0"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="productForm.contains('tracks')">
      <ion-item>
        <ion-label position="floating">Кількість треків</ion-label>
        <ion-input type="number" formControlName="tracks" 
        errorText="Від 1 до 100 треків"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="productForm.contains('format')">
      <ion-item>
        <ion-label position="floating">Формат</ion-label>
        <ion-input type="text" formControlName="format" 
        errorText="Допустимі лише латинські літери та цифри"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="currentType === 'MusicalInstrument'">
      <ion-item>
        <ion-label position="floating">Тип інструменту</ion-label>
        <ion-input formControlName="instrumentType" 
        errorText="Поле обов'язкове"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Бренд</ion-label>
        <ion-input formControlName="brand" 
        errorText="Поле обов'язкове"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Електронний</ion-label>
        <ion-segment
          [value]="productForm.get('isElectronic')?.value"
          (ionChange)="onElectronicChange($event.detail.value)"
        >
          <ion-segment-button value="true">
            <ion-label>Так</ion-label>
          </ion-segment-button>
          <ion-segment-button value="false">
            <ion-label>Ні</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      
    </div>

    <ion-item>
      <ion-button expand="block" type="submit" [disabled]="productForm.invalid">
        Додати товар
      </ion-button>
    </ion-item>
  </form>
</ion-card>
